.codeblock-with-label pre::before {
  /* No `content: "Whatever"` here! That gets added inline with the filter */
  display: block;
  text-align: left;
  font-size: 0.8em;
  margin-bottom: 7px;
  border-bottom: 1px solid;
  padding-left: 4.25px;
  padding-bottom: 5px;

  /* Color stuff. This uses a semi transparent version of Quarto's comment color 
  for syntax highlighting (--quarto-hl-co-color) */
  opacity: 0.8;
  color: var(--quarto-hl-co-color, #5E5E5E);
  border-bottom-color: var(--quarto-hl-co-color, #5E5E5E);
}
